/*
################################################################
################################################################
##################          Variables        ###################
################################################################
################################################################
*/
:root {
  /* RGB */
  --dark-rgba: rgba(36, 37, 45, 0.7);
  --red-rgba: rgba(242, 95, 92, 1);
  --yellow-rgba: rgba(255, 224, 102, 1);
  --blue-rgba: rgba(36, 123, 160, 1);
  --green-rgba: rgba(112, 193, 179, 1);

  /* RGB */
  --light: rgba(255, 255, 255, 0.9);
  --dark: #24252d;
  --red: #f25f5c;
  --yellow: #ffe066;
  --blue: #247ba0;
  --green: #70c1b3;
  --purple: #5d2566;
  --color-light-rgba: rgba(255, 255, 255, 0.9);
}

/*
################################################################
################################################################
##################       General            ####################
################################################################
################################################################
*/
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  vertical-align: baseline;
  background: var(--dark);
  line-height: 1.75;
  font-size: 1em;
  touch-action: pan-y;
  text-align: center;
  overflow-x: hidden;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--dark);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 10px;
  /* border: 3px solid orange; */
}

/*
################################################################
################################################################
##################       Utils Classes      ####################
################################################################
################################################################
*/
.container_fluid {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/*
################################################################
################################################################
##################          NavBar          ####################
################################################################
################################################################
*/
nav {
  background: var(--dark);
}
#navbar {
  margin: 0;
  padding: 0;
  outline: 0;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.navBar_item {
  display: block;
  text-decoration: none;
  color: rgb(255, 107, 104);

  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 20px;
  overflow: hidden;
}
.navBar_item:hover {
  color: var(--green);
}

.logo_container {
  height: 30px;
}
.logo {
  margin-right: auto;
}
.navBar_item_logo {
  padding: 12px 0 2px !important;
}
.navBar_logo_img {
  max-height: 45px;
}

/*
################################################################
################################################################
##################       Group same style   ####################
################################################################
################################################################
*/

.section_weLike a,
header a {
  text-decoration: none;
}

/*
################################################################
################################################################
##################          Header          ####################
################################################################
################################################################
*/

header {
  position: relative;
  width: 100%;
  height: 800px;
  /* clip-path: polygon(
    0 4%,
    100% 0,
    98% 41%,
    100% 96%,
    68% 96%,
    9% 91%,
    0 71%,
    5% 33%
  ); */

  clip-path: polygon(
    5% 5%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 80%,
    0% 75%
  );
}
header::after {
  content: '';
  background: url('../Assets/mr_coffee_salle.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -10;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: border-box;
  background-size: cover;
}
.header_title {
  width: 700px;
  position: relative;
  top: 400px;
  margin: auto;
  padding: 70px 30px;
}

.header_title h1 {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
  background: rgba(242, 95, 92, 0.9);
  color: var(--light);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--dark-rgba);
  font-weight: 1000;
  letter-spacing: 5px;
}

/*
################################################################
################################################################
##################          WeLike          ####################
################################################################
################################################################
*/
.section_weLike {
  position: relative;

  padding-top: 50px;
  padding-bottom: 150px;
}
.section_weLike::after {
  background: var(--dark);
  /* background: url('../assets/pexels/beans-brown-cafe-caffeine-532753.jpg'); */
  content: '';
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -10;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: border-box;
  background-size: cover;
}
.section_weLike h2 {
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 0;
  font-size: 2.4rem;
  color: var(--light);
  letter-spacing: 0.3rem;
  font-weight: 1000;
}

.cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
}

.card {
  /* width: */
  background: var(--blue);
  border-radius: 10px;
  padding-top: 30px;
  margin-bottom: 100px;
}
.card_1 {
  background: var(--green);
}
.card_2 {
  background: var(--blue);
}
.card_3 {
  background: var(--red);
}
.card_img_1 {
  background: url('../Assets/icon_cafeÃÅ.png') no-repeat;
}
.card_img_2 {
  background: url('../Assets/icon_gens.png') no-repeat;
}
.card_img_3 {
  background: url('../Assets/icon_histoires.png') no-repeat;
}
.card_img {
  height: 100px;
  box-sizing: border-box;
  background-size: contain;
  background-position: center center;
}

.card_title {
  margin: 20px auto 30px;

  font-size: 2rem;
  font-weight: bold;
  color: var(--dark);
}
.card_body {
  color: var(--dark);
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5px 20px 20px;
}

.card_h2_2 {
  background: var(--yellow);
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  color: var(--dark) !important;
  border-radius: 10px;
}

/*
################################################################
################################################################
##################          Find out        ####################
################################################################
################################################################
*/
.section_findOut {
  padding-top: 50px;

  padding-bottom: 150px;
  background: var(--blue);
}
.section_findOut h2 {
  margin-bottom: 50px;
  padding: 0;
  font-size: 2.4rem;
  color: var(--light);
  letter-spacing: 0.3rem;
  font-weight: 1000;
}
.program_cards {
  padding-top: 200px;
  padding-bottom: 200px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'p_card1 p_card1 .'
    '. p_card2 p_card2'
    'p_card3 p_card3 .'
    '. p_card4 p_card4'
    'p_card5 p_card5 p_card5';
  grid-gap: 5%;
}
.p_card {
  padding: 10px;
  background: var(--light);
  margin-bottom: 100px;
  color: var(--dark);
  box-shadow: 2px 2px 5px 0px var(--dark-rgba);
}
.p_card1 {
  border-radius: 10px 70px 10px 10px;
  grid-area: p_card1;
}
.p_card2 {
  border-radius: 70px 10px 10px 10px;
  grid-area: p_card2;
}
.p_card3 {
  border-radius: 10px 70px 10px 10px;
  grid-area: p_card3;
}
.p_card4 {
  border-radius: 70px 10px 10px 10px;
  grid-area: p_card4;
}
.p_card5 {
  grid-area: p_card5;
  border-radius: 70px;
}

.program_cards h4 {
  font-size: 1.6rem;
  font-weight: bolder;
}
.program_cards p {
  font-size: 1.4rem;
  font-weight: bold;
}
.open7days_icon {
  width: 100px;
  height: 100px;
  margin-left: -50px;
  display: inline-block;
  background: url('../Assets/icon_open.png');
  box-sizing: border-box;
  background-size: contain;
  background-position: center center;
}
.p_card_title a {
  color: var(--blue);
}
/*
################################################################
################################################################
##################          Footer          ####################
################################################################
################################################################
*/

footer {
  padding: 20px 0;
}
.footer_social_icons {
  position: relative;
}
footer h4 {
  /* margin: 0; */
  color: var(--light);
}
.footer_logo_container {
  position: absolute;
  left: 100px;
  bottom: 30px;
}

.footer_logo {
  background: url('../Assets/full_logo_white.png');
  width: 200px;
  height: 100px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer_icon_facebook {
  background: url('../Assets/logo_facebook.png');
}
.footer_icon_twitter {
  background: url('../Assets/logo_twitter.png');
}
.footer_icon_linkedin {
  background: url('../Assets/logo_linkedin.png');
}

.footer_social_icons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  /* background: #fff; */
  margin: 10px 20px;
  background-size: contain;
}
